<div class="theme-showcase" style="width: 80%;margin: 10px;" role="main">
    <div class="panel" style="padding: 20px;">
        <div class="form-group form-group-sm" style="height: 40px;line-height: 40px;">
            <label class="col-sm-1 control-label">标题</label>
            <div class="col-sm-10">
                <input type="text" id="title" class="form-control" value="{$data.title}">
            </div>
        </div>
        <div class="form-group form-group-sm margin-t-15" style="min-height: 30px;">
            <label class="col-sm-1 control-label">配图</label>

            <div class="col-sm-11">
                <div id="uploader-demo">
                    <!--用来存放item-->
                    <div id="fileList" class="uploader-list"></div>
                    <div id="filePicker">更换图片</div>
                    <div id="imgDiv" class="file-item thumbnail1">
                        <img style="height: 200px;width:auto;" src="{$data.img}">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form-group-sm margin-t-15">
            <label class="col-sm-1 control-label">内容</label>
            <div style="display: none" id="content">{$data.content|htmlspecialchars_decode}</div>
            <div style="clear: both;"></div>
        </div>
        <div style="margin-bottom: 30px;">
            <script id="ueditor" name="content"></script>
            <input type="hidden" id="imgurl" value="{$data.img}">
            <textarea id="desc" style="display: none;" name="desc"></textarea>
            <div class="col-md-12" style="width: 1200px;"><input type="button" id="save" class="center-block btn btn-info" value="保存"></div>
        </div>

    </div>
</div>
<script src="__ADMIN__/js/uploader.js"></script>
<script>
    var ue = UE.getEditor('ueditor',{
        initialFrameWidth:1200,
        initialFrameHeight:500,
        elementPathEnabled:false
    });

    ue.addListener('ready',function(){
        ue.setContent($("#content").html());
    });

    $("#save").on('click',function(){
        var title = $.trim($("#title").val());
        if(title == ""){
            notice("标题不能为空");
            return false;
        }

        if($.trim(UE.getEditor('ueditor').getContentTxt()) === ""){
            notice('内容不能为空');
            return false;
        }
        var desc = UE.getEditor('ueditor').getContentTxt();

        $.post("/Admin/Artical/update",{
            id:'{$data.id}',
            desc :desc,
            title :title,
            img:$("#imgurl").val(),
            content:UE.getEditor('ueditor').getContent()
        },function(data){
            if(data.status == 0){
                notice("编辑成功");
            }
        },"JSON");
    });
</script>