<div class="" role="main">
    <ul id="homeslider">
        <li class="">
            <div class="caption-wraper">
                <div class="caption">测试1</div>
            </div>
            <a href=""><img src="/uploads/image/demo/1.jpg" alt="测试1"></a>
        </li>
        <li>
            <div class="caption-wraper">
                <div class="caption">测试2</div>
            </div>
            <a href=""><img src="/uploads/image/demo/2.jpg" alt="测试2"></a>
        </li>
        <li>
            <div class="caption-wraper">
                <div class="caption">测试3</div>
            </div>
            <a href=""><img src="/uploads/image/demo/3.jpg" alt="测试3"></a>
        </li>
    </ul>
</div> <!-- /container -->


<div class="container margin-t-20" style="width: 970px;">
    <div class="wrapper_detail_box">
        <div class="img_area_container_box" act-id="">
            <div class="img_area_inner">
                <div class="img_single_box">
                    <a class="img_link_layer" href="#">
                        <div class="img_instr_layer">摄影</div>
                        <div class="img_mask_layer" style="background-image: -webkit-linear-gradient(rgba(144,135,128, 0) 0, rgba(144,135,128, 1) 100%); background-image: -moz-linear-gradient(rgba(144,135,128, 0) 0, rgba(144,135,128, 1) 100%); background-image: -o-linear-gradient(rgba(144,135,128, 0) 0, rgba(144,135,128, 1) 100%); background-image: -ms-linear-gradient(rgba(144,135,128, 0) 0, rgba(144,135,128, 1) 100%);"></div>
                        <div class="img_cover_layer"></div>
                        <img src="http://img0.bdstatic.com/img/image/shouye/sheying0415.jpg" class="img_pic_layer">
                    </a>
                </div>
                <div class="img_single_box">
                    <a class="img_link_layer" href="#">
                        <div class="img_instr_layer">壁纸</div>
                        <div class="img_mask_layer" style="background-image: -webkit-linear-gradient(rgba(141,156,99, 0) 0, rgba(141,156,99, 1) 100%); background-image: -moz-linear-gradient(rgba(141,156,99, 0) 0, rgba(141,156,99, 1) 100%); background-image: -o-linear-gradient(rgba(141,156,99, 0) 0, rgba(141,156,99, 1) 100%); background-image: -ms-linear-gradient(rgba(141,156,99, 0) 0, rgba(141,156,99, 1) 100%);"></div>
                        <div class="img_cover_layer"></div>
                        <img src="http://img0.bdstatic.com/img/image/shouye/bizhi0415.jpg" class="img_pic_layer">
                    </a>
                </div>
                <div class="img_single_box">
                    <a class="img_link_layer" href="#">
                        <div class="img_instr_layer">明星</div>
                        <div class="img_mask_layer" style="background-image: -webkit-linear-gradient(rgba(204,178,155, 0) 0, rgba(204,178,155, 1) 100%); background-image: -moz-linear-gradient(rgba(204,178,155, 0) 0, rgba(204,178,155, 1) 100%); background-image: -o-linear-gradient(rgba(204,178,155, 0) 0, rgba(204,178,155, 1) 100%); background-image: -ms-linear-gradient(rgba(204,178,155, 0) 0, rgba(204,178,155, 1) 100%);"></div>
                        <div class="img_cover_layer"></div>
                        <img src="http://img0.bdstatic.com/img/image/shouye/mingxing0415.jpg" class="img_pic_layer">
                    </a>
                </div>
                <div class="img_single_box">
                    <a class="img_link_layer" href="#">
                        <div class="img_instr_layer">旅游</div>
                        <div class="img_mask_layer" style="background-image: -webkit-linear-gradient(rgba(148,171,81, 0) 0, rgba(148,171,81, 1) 100%); background-image: -moz-linear-gradient(rgba(148,171,81, 0) 0, rgba(148,171,81, 1) 100%); background-image: -o-linear-gradient(rgba(148,171,81, 0) 0, rgba(148,171,81, 1) 100%); background-image: -ms-linear-gradient(rgba(148,171,81, 0) 0, rgba(148,171,81, 1) 100%);"></div>
                        <div class="img_cover_layer"></div>
                        <img src="http://img0.bdstatic.com/img/image/shouye/lvyou0415.jpg" class="img_pic_layer">
                    </a></div>
                <div class="img_single_box">
                    <a class="img_link_layer" href="#">
                        <div class="img_instr_layer">动漫</div>
                        <div class="img_mask_layer" style="background-image: -webkit-linear-gradient(rgba(132,213,243, 0) 0, rgba(132,213,243, 1) 100%); background-image: -moz-linear-gradient(rgba(132,213,243, 0) 0, rgba(132,213,243, 1) 100%); background-image: -o-linear-gradient(rgba(132,213,243, 0) 0, rgba(132,213,243, 1) 100%); background-image: -ms-linear-gradient(rgba(132,213,243, 0) 0, rgba(132,213,243, 1) 100%);"></div>
                        <div class="img_cover_layer"></div>
                        <img src="http://img0.bdstatic.com/img/image/shouye/dongman0309.jpg" class="img_pic_layer">
                    </a>
                </div>
            </div>
        </div>
        <div class="img_area_background_box"></div>
    </div>

</div>


<!--<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/jquery-1.11.1.js"></script>-->
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/plugins/slippry/js/slippry.min.js"></script>
<script>
    $(function () {
        var demo1 = $("#homeslider").slippry({
            transition: 'fade',
            useCSS: true,
            captions: false,
            speed: 1000,
            pause: 3000,
            auto: true,
            preload: 'visible'
        });
    });
</script>
